@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
$midnightblue: #2C3E50;
$peterriver: #3498DB;
$belize: #2980B9;
body, html{
	margin: 0;
	padding: 0;
	color: $midnightblue;
}

body{
	background: #fff;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	width: 100%;
}

a{
	text-decoration: none;
	color: $midnightblue;
}

header{
	float: left;
	padding: 15px 0;
	text-align: center;
	width: 100%;

	font:{
		family: 'Merriweather Sans', sans-serif;
		size: 70px;
		weight: bold;
	}
}

#about{
	background: $peterriver;
	box-shadow: 0 5px 0px $belize;
	color: $midnightblue;
	float: left;
	width: 100%;

	p{
		margin: 10px 0;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{ 
			display: inline;
			margin: 0;
			opacity: .6;
		}
		li:hover{
			opacity: .4;
			-webkit-transition: all .25s ease-in-out;
			   -moz-transition: all .25s ease-in-out;
			    -ms-transition: all .25s ease-in-out;
			     -o-transition: all .25s ease-in-out;
			        transition: all .25s ease-in-out;
		}
	}

	a{
		color: #eee;
	}

	.main{
		width: 60%;
		margin: 0 auto;

		#me{
			margin: 0 10px -5px 0;
			padding: 0;
			float: left;
		}
		#myinfo{
			float: left;
			width: 73%;
		}
	}
}

#wrapper{
	width: 100%;
	float: left;

	#content{
		width: 60%;
		margin: 0 auto;
	}
}

#apps_list{
	margin-top: 50px;
}

.app{
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
	background: #ECF0F1;
	padding: 10px 0;
	border-radius: 3px;
	box-shadow: 0 -3px 0px #BDC3C7 inset;

	.logo{
		float: left;
		width: 100px;
		height: 100px;
		margin: 0 20px 0 10px;

		a>img{
			width: 100px;
			height: 100px;
			
		}

	}

	.info{
		width: 75%;
		float: left;
		margin: 0;

		h3, p{
			margin: 0;
			padding: 0;
		}

		p{
			line-height: 20px;

		}

		h3{
			margin: 0 0 10px 0;
		}
	}

	.note{
		background: #eee;
		width: 50%;
		margin: 5px 0;
		border-radius: 5px;
		padding: 5px;
		color: #aaa;
		font:{
			style: italic;
			family: georgia;
		}
	}
}

#img404{
	background: url('../img/404.jpg');
	width: 660px;
	height: 440px;
	margin: 0 auto;
}

footer{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

@media screen and (max-width: 700px) {
	header{
		font-size: 40px;
	}
	#content{
		min-width: 95%;
	}

	.logo{
			max-width: 48px;
			max-height: 48px;

		a>img{
			max-width: 48px;
			max-height: 48px;	
		}
	}

	#about .main{
		text-align: center;
		width: 95%;
		#me, #myinfo{
			width: 100%;
			
		}
	}
}

@media screen and (min-width: 700px) and (max-width: 1024px){
	header{
		font-size: 70px;
	}
	#content{
		min-width: 90%;
	}

	.logo{
			max-width: 80px;
			max-height: 80px;

		a>img{
			max-width: 80px;
			max-height: 80px;	
		}
	}

	.app .info{
		width: 80%;
	}

	#about .main{
		width: 95%;
		#me{
			float: left;
			width: auto;
			margin: 0 5px -5px 0;
		}
		#myinfo{
			float: left;
			width: 75%;
		}
	}	
}