@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800,700);
body, html{
	margin: 0;
	padding: 0;
	color: #333;
}

body{
	background: url('bg.png');
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

a{
	text-decoration: none;
}

header{
	float: left;
	padding: 15px 0;
	text-align: center;
	width: 100%;

	font:{
		family: 'Merriweather Sans', sans-serif;
		size: 70px;
		weight: bold;
	}
}

#about{
	background: #3873B6;
	box-shadow: 0 0 20px hsla(0, 0, 0, .3) inset;
	color: #AFBFDB;
	float: left;
	width: 100%;

	p{
		margin: 12px 0;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{ 
			display: inline;
			margin: 0;
			opacity: .6;
		}
		li:hover{
			opacity: .4;
			-webkit-transition: all .25s ease-in-out;
			   -moz-transition: all .25s ease-in-out;
			    -ms-transition: all .25s ease-in-out;
			     -o-transition: all .25s ease-in-out;
			        transition: all .25s ease-in-out;
		}
	}

	a{
		color: #eee;
		font:{
			style: italic;
		}
	}

	.main{
		width: 60%;
		margin: 0 auto;

		>img{
			margin: 0 10px 0 0;
			padding: 0;
			float: left;
		}
		>div{
			float: left;
			width: 78%;
		}
	}
}

#wrapper{
	width: 100%;
	float: left;

	#content{
		width: 60%;
		margin: 0 auto;
	}
}

#apps_list{
	margin-top: 50px;
}

.app{
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
	background: #fff;
	box-shadow: 3px 3px 1px #ccc;
	padding: 10px 0;

	a{
		color: #3873B6;
	}

	.logo{
		float: left;
		width: 100px;
		height: 100px;
		margin: 0 20px 0 10px;

		a>img{
			width: 100px;
			height: 100px;
			
		}

	}

	.info{
		width: 75%;
		float: left;
		margin: 0;

		h3, p{
			margin: 0;
			padding: 0;
		}

		p{
			line-height: 20px;

		}

		h3{
			margin: 0 0 10px 0;
		}
	}

	.note{
		background: #eee;
		width: 50%;
		margin: 5px 0;
		border-radius: 5px;
		padding: 5px;
		color: #aaa;
		font:{
			style: italic;
			family: georgia;
		}
	}
}

.app:hover{
		-webkit-transform: scale(1.01);
		   -moz-transform: scale(1.01);
		    -ms-transform: scale(1.01);
		     -o-transform: scale(1.01);
		        transform: scale(1.01);
		-webkit-transition: all .25s ease-out;
		   -moz-transition: all .25s ease-out;
		    -ms-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		        transition: all .25s ease-out;
		box-shadow: 3px 3px 5px #ccc;
	}

#img404{
	background: url('../img/404.jpg');
	width: 660px;
	height: 440px;
	margin: 0 auto;
}

footer{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
}