@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
body, html {
  margin: 0;
  padding: 0;
  color: #2c3e50; }

body {
  background: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 100%; }

a {
  text-decoration: none;
  color: #2c3e50; }

header {
  float: left;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 70px;
  font-weight: bold; }

#about {
  background: #3498db;
  box-shadow: 0 5px 0px #2980b9;
  color: #2c3e50;
  float: left;
  width: 100%; }
  #about p {
    margin: 10px 0; }
  #about ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #about ul li {
      display: inline;
      margin: 0;
      opacity: .6; }
    #about ul li:hover {
      opacity: .4;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  #about a {
    color: #eee; }
  #about .main {
    width: 60%;
    margin: 0 auto; }
    #about .main #me {
      margin: 0 10px -5px 0;
      padding: 0;
      float: left; }
    #about .main #myinfo {
      float: left;
      width: 73%; }

#wrapper {
  width: 100%;
  float: left; }
  #wrapper #content {
    width: 60%;
    margin: 0 auto; }

#apps_list {
  margin-top: 50px; }

.app {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  background: #ECF0F1;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 0 -3px 0px #BDC3C7 inset; }
  .app .logo {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 20px 0 10px; }
    .app .logo a > img {
      width: 100px;
      height: 100px; }
  .app .info {
    width: 75%;
    float: left;
    margin: 0; }
    .app .info h3, .app .info p {
      margin: 0;
      padding: 0; }
    .app .info p {
      line-height: 20px; }
    .app .info h3 {
      margin: 0 0 10px 0; }
  .app .note {
    background: #eee;
    width: 50%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    color: #aaa;
    font-style: italic;
    font-family: georgia; }

#img404 {
  background: url("../img/404.jpg");
  width: 660px;
  height: 440px;
  margin: 0 auto; }

footer {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 12px; }

@media screen and (max-width: 700px) {
  header {
    font-size: 40px; }

  #content {
    min-width: 95%; }

  .logo {
    max-width: 48px;
    max-height: 48px; }
    .logo a > img {
      max-width: 48px;
      max-height: 48px; }

  #about .main {
    text-align: center;
    width: 95%; }
    #about .main #me, #about .main #myinfo {
      width: 100%; } }
@media screen and (min-width: 700px) and (max-width: 1024px) {
  header {
    font-size: 70px; }

  #content {
    min-width: 90%; }

  .logo {
    max-width: 80px;
    max-height: 80px; }
    .logo a > img {
      max-width: 80px;
      max-height: 80px; }

  .app .info {
    width: 80%; }

  #about .main {
    width: 95%; }
    #about .main #me {
      float: left;
      width: auto;
      margin: 0 5px -5px 0; }
    #about .main #myinfo {
      float: left;
      width: 75%; } }
