pre {
  font-size: 14px;
  background: #4E4E4E;
  color: #F1F1F1;
  padding: 10px 15px;
  font-family: "BitStream Vera Sans Mono", Inconsolata, Monaco, Consolas, "Currier new", Currier, monospace;
  overflow: auto; }

code {
  background: #DDF2FF;
  padding: 3px 5px;
  border: 1px solid #9BCEDF;
  border-radius: 3px; }

blockquote {
  border-left: 8px solid #e5e5e5;
  margin-left: 20px;
  padding-left: 20px; }

#disqus {
  padding: 20px 0 20px 0; }

#img404 {
  background: url("/img/darth_vader_noo.gif") center no-repeat;
  width: 100%;
  height: 440px;
  border-radius: 5px; }

@media all and (max-width: 480px) {
  #img404 {
    width: 100%;
    height: 300px;
    overflow: hidden; } }
@media all and (min-width: 660px) {
  #img404 {
    width: 100%;
    overflow: hidden; } }
