pre{
	background: #333;
	border-radius: 5px;
	-webkit-box-shadow: 0 -5px 15px #222 inset;
	-moz-box-shadow: 0 -5px 15px #222 inset;
	-o-box-shadow: 0 -5px 15px #222 inset;
	box-shadow: 0 -5px 15px #222 inset;
	color: #f1f1f1;
	padding: 10px 15px;
	font-family: Inconsolata, Monaco, Consolas, "Currier new", Currier, monospace;
	overflow:auto;
}

blockquote{
	border-left: 8px solid #e5e5e5;
	margin-left: 20px;
	padding-left: 20px;
}

#disqus{
	padding: 20px 0 20px 0;
}