@import url(http://weloveiconfonts.com/api/?family=brandico);

$blue_1: #3498db;
$blue_2: #2980b9;
$blue_dark: #2c3e50;

body{
	width: 100%;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	margin: 0 auto;
	padding: 0;
	color: $blue_dark;
	background: #f9f9f9;
}

html{
	border-top: 7px solid $blue_1;
}

h1{
	font-weight: normal;
}

h2{
	color: $blue_1;
}

a{
	color: $blue_1;
}

h1 a:visited, .post a:visited, .post_index a:visited{
	color: #6084BB;
}

#wrapper{
	width: 96%;
	font-size: 1.6em;
	margin: 0 auto;
	padding: 5px 0 0 0;
	min-height: 100%;
	overflow: visible;
}

header{
	text-align: center;
	position: fixed;
	top: calc(50% - 150px);
	right: 20px;
	bottom: 0;
	left: auto;
	width: 20%;

	img{
		clear: both;
		width: 175px;
		height: auto;
	}

	#about{
		float: left;
		border-top: 1px dotted #ccc;
		text-align: left;
		width: 100%;
	}
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size: 20px;
}

#social_links{
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;

	li{
		display: inline;
		margin-right: 5px;

		a{
			color:$blue_dark;
			text-decoration: none;
		}
	}
}

nav{
	width: 100%;
	margin: 10px 0 40px 0;
	float: left;

	ul{
		display: block;
		list-style-type: none;
		margin-top: 15px;
		margin-bottom: 0;
		padding: 0;
		text-align: center;
	}

	li{
		display: inline;
	}

	a{
		color: $blue_1;
		background: #e1e1e1;
		text-decoration: none;
		margin-top: 50px;
		padding: 10px 35px;
		box-shadow: 0 3px 0px #ccc;
	}

	a:hover, a:active{
		color: #f9f9f9;
		background: $blue_1;
		box-shadow: 0 3px 0px $blue_2;
	}
}

.blog_posts{
	float: left;
	width: calc(100% - 300px);
	margin: 80px 0 0 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'Open Sans', Arial, Helvetica, serif;
}

.post{
	width: 100%;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
	overflow: visible;

	img{
		display: block;
		margin: 10px auto;
		max-width: 100%;
	}

	figure{
		display: block;
		margin: 0 auto;
		width: 100%;

		figcaption{
			text-align: center;
			font-size: 12px;
			color: #666;
		}
	}

	li{
		padding-bottom: 10px;
	}

	iframe{
		min-width: 100%;
	}
}

.post, .post_index{
	width: 90%;
	margin: 0 auto;
}

.post h1, .post_index h1{
	font-size: 1.6em;
	text-align: left;
	font-style: normal;
	padding-bottom: 0px;
	margin: -8px 0 0 0;
	font-weight: bold;
}

.post_index{
	margin: 0 0 20px 0;
}

.post_index h1{
	margin: -5px 0 0 0;
	font-size: 1.3em;
}

.post h1 a, .post_index h1 a{
	color: #162d50;
	text-decoration: none;
}

.post h1 a:hover, .post_index h1 a:hover{
	color: $blue_1;
}

.post_info{
	color: #666;
	margin: 0;
	font-size: .8rem;
}

.post_info{
	text-align: center;
	padding-bottom: 20px;
}

.nav_pagination{
	float: left;
	height: 50px;
	padding: 30px 0 0 0;
	margin: 0;
}

.nav_pagination{
	margin: 0 auto;
	height: 50px;
	text-align: center;
	padding-top: 30px;
}

.nav_pagination li{
	display: inline;
	padding-right: 10px;
}

footer{
	float: left;
	width: 100%;
	color: #777;
	font-size: 1.1em;
	padding: 0px;
	margin: 30px auto;
	position: relative;
	bottom: 0px;
}

footer p{
	width: 95%;
	padding: 20px 0;
}

footer a{
	color: $blue_2;
}

#apps_list {
  margin-top: 10px; }

.app {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  background: #ECF0F1;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 0 -3px 0px #BDC3C7 inset; }
  .app .logo {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 20px 0 10px; }
	.app .logo a > img {
	  width: 100px;
	  height: 100px; }
  .app .info {
	width: 75%;
	float: left;
	margin: 0; }
	.app .info h3, .app .info p {
	  margin: 0;
	  padding: 0; }
	 .app .info h3 img{
	 	display: inline;
		margin: 0 auto;
	 }
	.app .info p {
	  line-height: 20px; }
.app .info h3 {
	margin: 0 0 10px 0;
}

 .app .note {
	background: #eee;
	width: 50%;
	margin: 5px 0;
	border-radius: 5px;
	padding: 5px;
	color: #aaa;
	font-style: italic;
	font-family: georgia; 
}

// Misc

pre{
	font-size: 14px;
	background: #4E4E4E;
	color: #F1F1F1;
	padding: 10px 15px;
	font-family: "BitStream Vera Sans Mono", Inconsolata, Monaco, Consolas, "Currier new", Currier, monospace;
	overflow: auto;
}

pre:before {
	content: attr(rel);
	margin: -10px -15px 0 0;
	float: right;
	background: #CCC;
	padding: 0 5px;
	color: #DB3434;
	opacity: .7;
	border-radius: 0 0 0 3px;
}

pre:before:hover{
	opacity: 1;
}

code{
	background: #DDF2FF;
	padding: 3px 5px;
	border: 1px solid #9BCEDF;
	border-radius: 3px;
	text-align: center;
}

blockquote{
	border-left: 8px solid #e5e5e5;
	margin-left: 20px;
	padding-left: 20px;
}

#disqus{
	padding: 20px 0 20px 0;
}

#img404{
	background: url("/img/darth_vader_noo.gif") center no-repeat;
	width: 100%;
	height: 440px;
	border-radius: 5px;
}

@media all and (max-width: 480px){
	header{
		width: 100%;
		position: inherit;

		nav a{
			padding: 10px 15%;
		}

		#about, #social_links{
			display: none;
		}
	}

	.blog_posts{
		width: 100%;
		margin-top: 20px;

		.post, .post_index, .nav_pagination{
			width: 100%;

		}

		.post h1, .post_index h1{
			font-size: 1.3rem;
		}

		.post img, .post iframe{
			max-width: 100%;
		}

		.post h1, .post_info, .post_index h1, .nav_pagination{
			text-align: center;
		}

	}

	footer{
		width: 96%;
		p{
			width: 100%;
			text-align: center;
		}
	}

	#img404{
		width: 100%;
		height: 300px;
		overflow: hidden;
	}

}

@media all and (min-width: 660px){
	#img404{
		width: 100%;
		overflow: hidden;
	}
}

@media all and (min-width: 480px) and (max-width: 800px){

	.post h2{
		font-size: 1.4rem;
	}

	header{
		float: left;
		position: inherit;
		width: 100%;

		#logo{
			float: left;
			width: 175px;
			margin-top: 10px;
		}

		nav{
			float: right;
			margin: 10px 0 0 0;
			padding: 0;
			width: 260px;
		}

		#about{
			text-align: center;
			margin: 10px 0;

			p{
				padding: 1px;
				margin: 1px;
			}
		}
	}

	.blog_posts{
		width: 100%;

		.post img, .post iframe{
			max-width: 100%;
		}
	}

	.post, .post_index{
		font-size: 1rem;
		width: 100%;
	}

	.post figure{
		margin: 0 auto;
		width: 100%;
	}

	.post h1, .post_info, .post_index h1, .nav_pagination{
		text-align: center;
	}

	.nav_pagination{
		width: 100%;
	}

	.post_info{
		clear: both;
		width: 100%;
	}

	footer{
		width: 96%;
		margin: 0 auto;

		p{
			text-align: center;
			width: 100%;
			margin: 0 auto;
		}
	}
}

@media all and (min-width: 800px) and (max-width: 1200px){

	#wrapper{
		width: 95%;
	}

	.post {
		figure{
			margin: 0 0 0 -10%;
			width: 120%;
		}
		h2{
			font-size: 1.4rem;
		}
	}

	header{
		width: 250px;
	}

	.post_info, .post_index .post_info{
		text-align: left;
		padding-bottom: 20px;
	}

	footer{
		width: 95%;
		margin-left: 2.5%;
	}

}

@media all and (min-width: 1200px){

	#wrapper{
		width: 1100px;
	}

	.post figure{
		margin: 10px 0 10px -10%;
		width: 120%;
	}

	.post_info, .post_index .post_info{
		text-align: left;
		padding-bottom: 20px;
	}

	footer{ 
		margin-left: 5%;
		width: 95%;

		p{
			width: 95%;
			margin: 0 auto;
		}
	}

}

// Notice, updates, info, etc
.alert{
	border: 1px solid #FFB800;
	padding: 10px;
	background: papayawhip;
}

.warning{
	border: 1px solid #7E0E0E;
	padding: 10px;
	background: #C04747;
	color: #FFF;
}