.hero{
  clear: both;

  .content{
    color: #fff;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .me{
    text-align: center;
    #me{
      border: 2px solid #fff;
      width: 180px;
      height: 180px;
      @include border-radius(50%);
    }
  }

  .intro{
    margin: 40px auto 40px auto;
    width: 600px;
    font-size: 24px;
    font-weight: 300;
  }

  .hero--btn{
    float: left;
    width: 100%;
    margin-bottom: 40px;
    a{
      float: left;
      text-align: center;
      color: #fff;
      text-decoration: none;
      background: #0062d5;
      padding: 10px 25px;
      width: 100%;
    }
  }

}

.hero{
  // float: left;
  z-index: 5 !important;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;


  img, iframe, pre{
    max-width: 100%;
  }

  pre{
    overflow-x: hidden;
  }

  .blog_posts__body{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 30px auto;
    line-height: 1.8rem;
  }

  .all-posts{
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 100;
    a{
      float: right;
      width: 90%;
      margin: 0 5% 50px auto;
      text-align: center;
      padding: 10px 20px;
      text-decoration: none;
      @include ghost-btn(#fff);
      @include border-radius(3px);
      @include transition(all, .2s, ease-in-out);
    }
  }

  .btn-next{
    margin: 0 -10px -5px 0;
  }

}

@media all and (min-width: 480px){
  .hero{
    margin-bottom: 0px;
  }
}

@media all and (min-width: 750px){
  #wrapper{
    .hero{
      .blog_posts__body{
        width: 95%;
        max-width: 700px;
        flex-direction: row;
        justify-content: space-between;
      }

      .hero--btn{
        text-align: center;
        position: relative;
        a{
          float: none !important;
          width: auto !important;
        }
      }
    }
  }

  .all-posts {
      text-align: center;
      margin-bottom: 40px;
    a{
      margin: 0 !important;
      float: none !important;
      width: auto !important;
    }
  }
}