*, *:before, *:after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.projects, .home-posts{
  h2{
    color: $purple_dark !important;
  }
}

.shadow{
  box-shadow: 1px 1px 3px #ccc;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-box-shadow: 1px 1px 3px #ccc;
}

.firefox, .chrome, .amazon{
  display: inline-block;
  margin: 0 5px -5px 0;
}

.firefox{
  background: url('../img/sprite_social.svg') no-repeat 0 -85px;
  width: 16px;
  height: 16px;
}

.chrome{
  background: url('../img/sprite_social.svg') no-repeat -20px -85px;
  width: 16px;
  height: 16px;
}

.amazon{
  background: url('../img/sprite_social.svg') no-repeat -40px -85px;
  width: 16px;
  height: 16px;
}


// =======================================
// HOME POSTS
// =======================================
section.home-posts{
  float: left;
  width: 100%;
  background:#fff;
  padding: 40px 0;

  h2{
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .content{
    width: 95%;
    margin: 0 auto;
  }

  .posts__body{
    float: left;
    width: 100%;
  }

  .post_index{
    margin-bottom: 40px;
    .post_info{
      font-size: .8rem;
      text-align: center;
      margin-bottom: 0;
      padding: 0;
      line-height: 15px;
    }

    h3{
      text-align: center;
      font-size: 1.4rem;
      font-style: italic;
      margin: 0;
      padding: 0;
      a{
        color: #444;
        text-decoration: none;
      }
    }
  }

  .more_posts--btn{
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    a{
      float: left;
      background: $purple_dark;
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      width: 100%;
    }
  }

  @media (min-width: 750px){

    .more_posts--btn{
      text-align: center;
      position: relative;
      a{
        float: none !important;
        width: auto !important;
      }
    }

    .posts__body{
      float: none;
      width: 70%;
      margin: 0 auto;

      .content{
        width: 100%;
      }

      article{
        background: #fff !important;
      }

      h3{
        font-size: 30px;
        font-weight: 300;
      }

    }
  }

}


@media all and (min-width: 660px){

  .header__cover{
    img{
      width: 100%;
      height: auto !important;
    }
  }
}

@media all and (min-width: 480px) and (max-width: 800px){

  .post h2{
    font-size: 1.8rem;
  }

  h1{
    font-size: 1.9rem !important;
  }

  .post{
    font-size: 1rem;
    width: 95%;
  }

  .nav_pagination{
    width: 100%;
  }

}

@media all and (min-width: 1000px){



  .post figure{
    margin: 10px 0 10px -10%;
    width: 120%;
  }

  .highlight{
    width: 100%;
  }

}