---
layout: default
title: Home
---

    {% for post in paginator.posts %}
        <article class="post_index">
            <div class="content">
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <div class="post_info">
                    <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                </div>
                {{ post.content }}
            </div>
        </article>
    {% endfor %}

<ol class="nav_pagination">
    <li class="pagination_prev">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">« Newer</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}">« Newer</a>
        {% endif %}
        {% else %}
            « Newer
        {% endif %}
    </li>
    <li class="pagination_next">
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}">Older »</a>
        {% else %}
            Older »
        {% endif %}
    </li>
</ol>