<footer id="Contact">
  <div class="footer__stuff">
    <a href="/" id="footer__logo"><img src="/assets/img/logo.svg" alt="Logo"></a>
    <div class="email">
      <a href="mailto:jrochelly@gmail.com">jrochelly@gmail.com</a>
    </div>
    <div id="social_links">
      <ul>
        <li><a href="http://twitter.com/jrochelly" title="Twitter"><div class="icon twitter"></div></a></li>
        <li><a href="http://github.com/jrochelly" title="Github"><div class="icon github"></div></a></li>
        <li><a href="http://feeds.feedburner.com/jrochelly" title="Feed RSS"><div class="icon feed"></div></a></li>
      </ul>
    </div>
  </div>
</footer>