<footer id="Contact">
  <div class="footer__stuff">
    <div id="about">
      <img src="/assets/img/me.jpg" alt="Me" id="me">
      <p>Hi, my name is Jakson Rochelly, I'm a <b>passionate front-end developer</b> who likes to create stuff for people to use.</p>
    </div>
    <div id="social_links">
      <ul>
        <li><a href="http://twitter.com/jrochelly" title="Twitter"><div class="icon twitter"></div></a></li>
        <li><a href="http://github.com/jrochelly" title="Github"><div class="icon github"></div></a></li>
        <li><a href="mailto:://jrochelly@gmail.com?subject='Hey Jakson!'" title="Contact me!"><div class="icon email"></div></a></li>
        <li><a href="http://feeds.feedburner.com/jrochelly" title="Feed RSS"><div class="icon feed"></div></a></li>
      </ul>
    </div>
  </div>
</footer>