<footer id="Contact">
  <div class="footer__stuff">
    <a href="/" id="footer__logo"><img src="/assets/img/logo2.svg" alt="Logo"></a>
    <div class="email">
      <a href="mailto:jakson@jrochelly.com">jakson@jrochelly.com</a>
    </div>
    <div id="social_links">
      <ul>
        <li><a href="http://twitter.com/jaksonmoura_" title="Twitter"><div class="icon twitter"></div></a></li>
        <li><a href="http://github.com/jaksonmoura" title="Github"><div class="icon github"></div></a></li>
      </ul>
    </div>
  </div>
</footer>
