<section class="projects" id="Projects">
<div class="projects__head">
  <h2>Projects</h2>
  <p>This are some of my own projects. It can be a plugin, an app, a experiment.</p>

  <!-- <div id="more__projects" class="more--up">
    <a href="/projects">Se more projects</a>
  </div> -->
</div>
<ul>
  <li>
    <a class="project__link project--info" href="/projects/multilinks">
      <div class="project__info">
        <h3 class="project__title">Multilink Shortcut</h3>
        <span class="project__subtitle">Open your daily common pages at once with this extension for Google Chrome.</span>
      </div>
    </a>
    <a class="project__link project--img" href="/projects/multilinks">
      <img src="/assets/img/projects/project_multilinks.png" alt="Multilinks logo" class="cover">
    </a>
  </li>
  <li>
    <a class="project__link project--info" href="/projects/convercy">
      <div class="project__info">
        <h3 class="project__title">Convercy</h3>
        <span class="project__subtitle">Yet another currency converter</span>
      </div>
    </a>
    <a class="project__link project--img" href="/projects/convercy">
      <img src="/assets/img/projects/project_convercy.png" alt="Convercy logo" class="cover">
    </a>
  </li>
</ul>
<!-- <div id="more__projects" class="more--down">
  <a href="/projects">Se more projects</a>
</div> -->
</section>