<section class="projects" id="Projects">
  <div class="project__body">
    <div class="projects__head">
      <h2>{{ data.projects }}</h2>
      <p>{{ data.projects_blurb }}</p>

      <!-- <div id="more__projects" class="more--up">
        <a href="/projects">Se more projects</a>
      </div> -->
    </div>
    <ul>
      {% for p in data.projects_list %}
      <li>
        <a class="project__link project--info" href="/projects/multilinks">
          <div class="project__info">
            <h3 class="project__title">{{ p.title }}</h3>
            <span class="project__subtitle">{{ p.description }}</span>
          </div>
        </a>
        <a class="project__link project--img" href="http://www.amazon.com/Jakson-Rochelly-Convercy-Currency-Converter/dp/B00IT7KTA2">
          <img src="{{ p.img }}" alt="{{ p.title }} logo" class="cover">
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- <div id="more__projects" class="more--down">
      <a href="/projects">Se more projects</a>
    </div> -->
  </div>
</section>
