<section class="projects" id="Projects">
<div class="projects__head">
  <h2>Projects</h2>
  <p>Some of projects I've made.</p>
</div>
<ul>
  <li>
    <a class="project__link project--info" href="/projects/multilinks">
      <div class="project__info">
        <h3 class="project__title">Multilink Shortcut</h3>
        <span class="project__subtitle">Open your daily common pages at once with this extension for Google Chrome.</span>
      </div>
    </a>
    <a class="project__link project--img" href="/projects/multilinks">
      <img src="/assets/img/posts/railsforum.png" alt="Multilinks logo" class="cover">
    </a>
  </li>
  <li>
    <a class="project__link project--info" href="/projects/convercy">
      <div class="project__info">
        <h3 class="project__title">Covercy</h3>
        <span class="project__subtitle">Yet another currency converter</span>
      </div>
    </a>
    <a class="project__link project--img" href="/projects/convercy">
      <img src="/assets/img/posts/railsforum.png" alt="Convercy logo" class="cover">
    </a>
  </li>
</ul>
<div id="more__projects">
  <a href="/projects">Se more projects</a>
</div>
</section>