{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
{% endunless %}
{% assign data = site.data.locales[locale] %}
<!DOCTYPE html>
<html lang='{{locale}}'>
<head>
	<meta charset='utf-8' />
	<meta name="Description" CONTENT="{{ site.data.locales[locale].description }}">
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<link href="https://plus.google.com/101809280544649964042" rel="publisher" />
	<!--[if IE]><link rel="shortcut icon" href="/favicon.ico"/><![endif]-->
	<!--[if IE]> <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="image_src" href="http://jrochelly.com/assets/img/logo.png">
	<meta property="fb:admins" content="1344367235" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta content="{{ site.title }}" property="og:site_name">
	<meta content="Jakson Rochelly" property="article:author">
	<meta content="http://jrochelly.com/assets/img/logo.png" property="og:image">
	<meta content="{{ page.content | escape | truncatewords:75}}" property="og:description">
	<meta content="website" property="og:type">
	{% if page.title %}
	<meta content="{{ page.title }}" property="og:title">
	{% else %}
	<meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	{% endif %}
	{% if page.title %}
	<title>{{ page.title }} &ndash; Jakson Rochelly</title>
	{% else %}
	<title>Jakson Rochelly</title>
	{% endif %}
	<script src="/assets/js/jquery-2.1.4.min.js"></script>
</head>
<body>
		<div class="langs">
			<div class="br"><a href="/br"><img src="/assets/img/br_flag.png" alt="Idioma - Português"></a></div>
			<div class="en"><a href="/?lang=en"><img src="/assets/img/en_flag.png" alt="Language - English"></a></div>
		</div>
		<div id="wrapper">
			{% if page.cover %}
			<div class="post_header">
				{% include header.html %}
			</div>
			<article class="post post--cover">
			{% else %}
				<div class="landing landing--mini">
					{% include header.html %}
				</div>
				<article class="post">
			{% endif %}

						{% if page.cover %}
						<div class="header__cover" style="background-image: url({{page.cover}})">
								<div class="header__info">
										<h1>{{ page.title }}</h1>
										{% assign words = content | number_of_words %}
										<time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ page.date | date: "%B %d, %Y" }}</time> | <div class="reading-time">{% if words < 250 %} 1 minute read {% else %} {{ words | divided_by:150 }} minute read {% endif %}</div>
								</div>
								<div class="header__cover--layer"></div>
						</div>
						{% endif %}
						<div class="post__body">
								<div>
										{% if page.cover == null %}
										<h1>{{ page.title }}</h1>
										<div class="post_info">
												<time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ page.date | date: "%B %d, %Y" }}</time> | <div class="reading-time">{% if words < 250 %} 1 minute read {% else %} {{ words | divided_by:150 }} minute read {% endif %}</div>
										</div>
										{% endif %}
								</div>
								{{ content }}
						</div>
				</article>

				{% if page.comments %}
				<div id="disqus">
						<div id="disqus_thread"></div>
						<script type="text/javascript">
								/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
								var disqus_shortname = 'jrochelly'; // required: replace example with your forum shortname

								/* * * DON'T EDIT BELOW THIS LINE * * */
								(function() {
										var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
										dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
										(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
								})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
				{% endif %}

				{% include footer.html %}
		</div>


		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23777483-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script src="/assets/js/jquery.min.js"></script>
		<!--[if lte IE 9]>
		<script src="/assets/js/masonry.min.js"></script>
		<script>
				$('.blog_posts').masonry({
					// options
					percentPosition: true,
					itemSelector: '.post_index',
					columnWidth: 250
				});
		</script>
		<![endif]-->
		<script>
			$(document).ready(function(){

				$('.menu__btn a').on('click', function(e){
					$('.mobile-menu').toggleClass('show_menu');
					$('.langs').toggleClass('show_langs');
					return false;
				});
			});
		</script>
</body>
</html>